@media only screen and (max-width: 954px) {
  .right_container, .left_container{
    width: 100%;
  }
}

@media only screen and (max-width: 954px) {
  .left_container{
    background-size: contain;
    /*background-position: center center;*/
    /*background-size: 140% 100%;*/
    background-repeat: no-repeat;
    -webkit-appearance: none;
    /*background: url("../img/img11.jpg");
    background-size: 140% 100%;
    background-position: 61%;
    -webkit-appearance: none;
    background-repeat: repeat-x;*/
  }
}
@media only screen and (max-width: 768px) {
  .left_container{
    height: 82vh;
  }

  .right_container{
    display: flex;
    flex-direction: column;
  }
  .video{
    order: -1;
    margin-top: 10px;
  }
  .logo_img{
    padding: 10px;
  }

}

@media only screen and (max-width: 500px) {
  .left_container{
    height: 60vh;
  }
  .slogan{
    margin-bottom: 20px;
  }

}
